@charset "utf-8";
/* CSS Document */


.style3 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#apDiv1 {
	position:absolute;
	left:44px;
	top:317px;
	width:114px;
	height:60px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	left:44px;
	top:256px;
	width:111px;
	height:60px;
	z-index:1;
}
#apDiv3 {
	position:absolute;
	left:55px;
	top:183px;
	width:191px;
	height:73px;
	z-index:1;
}
#apDiv4 {
	position:absolute;
	left:221px;
	top:84px;
	width:268px;
	height:51px;
	z-index:1;
}

#apDiv5 {
	position:absolute;
	left:276px;
	top:428px;
	width:324px;
	height:351px;
	z-index:1;
}

#apDiv6 {
	position:absolute;
	left:321px;
	top:16px;
	width:268px;
	height:51px;
	z-index:1;
}

#map2 {
	position:absolute;
	left:204px;
	top:344px;
	width:425px;
	height:267px;
	z-index:1;
}

#respuesta {
	position:absolute;
	left:709px;
	top:589px;
	width:66px;
	height:35px;
	z-index:1;
}

#botonesMovimiento {
	position:absolute;
	left:669px;
	top:390px;
	width:157px;
	height:127px;
	z-index:1;
}

#botonesBD {
	position:absolute;
	left:211px;
	top:627px;
	width:157px;
	height:127px;
	z-index:1;
}

.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	color: #0033CC;
}

.botonAdelante{

	background-image:url(../images/adelante.JPG)
	background-repeat:no-repeat;
  	
}
.style5 {font-size: 12px}
.style6 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; color:}
